footer {
    font-size: 0.938rem;
    margin-top: 1%;
}

@media screen and (max-width: 769px) {
    footer {
        font-size: 0.625rem ;
    }
}
.container_footer {
    padding: 1%;
}

footer p {
    text-align: center;
    font-size: 100%;
}

svg {
    margin-left: 15px;
    background-color: white;
    padding: 4px;
    border-radius: 33%;
}

footer a {
    padding: 5px;
    text-align: center;
}
