body {
  width: 100%;
  overflow-x: hidden;
}


/* Navbar */

#accueil {
  color: orange;
}

#accueil::after {
  background-color: orange;
}

/* Header */

.container3 {
  z-index: 10;
  position: relative;
  background-color: #272a2c;
  height: 93.5vh;
  width: 100%;
}

#cercle1,
#cercle2,
#cercle3 {
  z-index: -1; 
  position: fixed;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background: #52bfc1;
  filter: blur(60px);
  box-shadow: 10px 10px 100px #52bfc1;
}

#cercle1 {
  left: calc(50% - 100px);
  top: calc(25% - 100px);
  animation: animateCircle1 15s linear infinite;
}

@keyframes animateCircle1 {
  0% {
    transform: rotate(0deg) translate(200px) rotate(0deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }

  100% {
    transform: rotate(360deg) translate(200px) rotate(-360deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }
}

#cercle2 {
  left: calc(0% - 100px);
  top: calc(50% - 100px);
  animation: animateCircle2 15s linear infinite;
}

@keyframes animateCircle2 {
  0% {
    transform: rotate(0deg) translate(200px) rotate(0deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }

  100% {
    transform: rotate(-360deg) translate(200px) rotate(360deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }
}

#cercle3 {
  left: calc(80% - 100px);
  top: calc(-5% - 100px);
  animation: animateCircle3 15s linear infinite;
}

@keyframes animateCircle3 {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }

  100% {
    transform: rotate(-360deg) translate(100px) rotate(360deg);
    box-shadow: 10px 10px 100px #52bfc1;
  }
}

.container3 h1 {
  position: absolute;
  font-size: 6rem;
  color: white;
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.container3 p {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

/* Présentation */

.container_presentation {
  width: 100%;
}

.presentation {
  text-align: justify;
  margin-left: 10%;
  color: white;
  width: 60%;
}

.presentation h2 {
  color: white;
  font-size: 4rem;
}

.presentation p {
  margin-top: 8px;
  font-size: 2.5rem;
}

#p2_presentation {
  margin-bottom: 90px;
}

.presentation a {
  color: #52bfc1;
  text-decoration: none;
  font-weight: bold;
}

/* CV */

#CV {
  font-size: 2.5rem;
  padding: 20px 50px;
  margin-left: 20%;
  background-color: #52bfc1;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

.CV a:hover {
  color: #272a2c;
  transition-duration: 0.5s;
}

/* Responsive */

@media (max-width: 1920px) {
  .container3 h1 {
    font-size: 5rem;
  }

  .container3 p {
    font-size: 2.5rem;
  }

  .presentation {
    width: 80%;
  }

  .presentation h2 {
    font-size: 3rem;
  }

  .presentation p {
    font-size: 2.2rem;
  }

  #CV {
    font-size: 2rem;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .container3 h1 {
    font-size: 3rem;
  }

  .container3 p {
    font-size: 1.5rem;
  }

  .presentation {
    width: 60%;
  }

  .presentation h2 {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  #p2_presentation {
    margin-bottom: 70px;
  }

  #CV {
    font-size: 1.2rem;
    padding: 20px 25px;
  }
}

/* xl */
@media (max-width: 1440px) {}

/* lg */
@media (max-width: 1024px) {
  .container3 h1 {
    font-size: 2rem;
  }

  .container3 p {
    font-size: 1.1rem;
  }

  .presentation {
    width: 80%;
  }

  .presentation h2 {
    font-size: 1.5rem;
  }

  .presentation p {
    font-size: 1.2rem;
  }

  #p2_presentation {
    margin-bottom: 40px;
  }

  #CV {
    font-size: 1rem;
    padding: 15px 25px;
  }


}

/* md */
@media (max-width: 768px) {
  .presentation h2 {
    font-size: 1.2rem;
  }

  .presentation p {
    font-size: 1rem;
  }

  #p2_presentation {
    margin-bottom: 35px;
  }

  #CV {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}

/* sm */
@media (max-width: 640px) {
  #cercle1,
  #cercle2,
  #cercle3 {
    width: 100x;
    height: 100px;
    border-radius: 125px;
    filter: blur(60px);
    box-shadow: 10px 10px 100px #52bfc1;
  }

  .container3 h1 {
    font-size: 1.5rem;
  }

  .container3 p {
    font-size: 0.8rem;
    transform: translate(-77px, 0px);
  }

  .presentation {
    width: 80%;
  }

  .presentation h2 {
    font-size: 1.3rem;
  }

  .presentation p {
    font-size: 1rem;
  }

  #p2_presentation {
    margin-bottom: 40px;
  }

  #CV {
    font-size: 0.8rem;
    padding: 10px 20px;
    margin-left: 35%;

  }
}

/* xs */
@media (max-width: 475px) {
  .container3 h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .container3 p {
    font-size: 0.8rem;
    /* transform: translate(-73px, 0px); */
    text-align: center;
  }

  .presentation {
    width: 80%;
  }

  .presentation h2 {
    font-size: 1.1rem;
  }

  .presentation p {
    font-size: 0.8rem;
  }

  #p2_presentation {
    margin-bottom: 35px;
  }

  #CV {
    font-size: 0.7rem;
    padding: 7px 15px;
  }
}