@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200;1,400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #272a2c;
  color: white;
}

/* Navbar */

.navbar {
  position: relative;
  font-size: 150%;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

.navbar a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

#nom_navbar {
  left: 2%;
}

#nom_navbar:hover {
  color: orange;
}

#nom_navbar::after {
  background-color: orange;
}

/* @media screen and (min-width: 1000px) {} */

#responsive_nav {
  display: none;
}

#nom_navbar,
#contact,
#accueil,
#stage {
  position: absolute;
  top: 30%;
}

#accueil {
  right: 670px;
}

#stage {
  right: 350px;
}

#contact {
  right: 100px;
}

.navbar a:hover::after {
  transform: scale(1);
}

/* } */

/* Responsive */

.responsive {
  max-width: 2360px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px red;
}

@media (max-width: 1920px) {
  .responsive {
    max-width: 1536px;
  }

  .navbar a {
    font-size: 2.5rem;
  }

  #accueil {
    right: 550px;
  }

  #stage {
    right: 270px;
  }

  #contact {
    right: 50px;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .responsive {
    max-width: 1440px;
  }

  .navbar a {
    font-size: 1.7rem;
  }

  #accueil {
    right: 440px;
  }

  #stage {
    right: 220px;
  }

  #contact {
    right: 50px;
  }
}

/* xl */
@media (max-width: 1440px) {
  .responsive {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .responsive {
    max-width: 768px;
  }

  .navbar a {
    font-size: 1.25rem;
  }

  #nom_navbar {
    left: 5%;
  }

  #accueil {
    right: 5%;
  }


}

/* md */
@media (max-width: 768px) {
  .responsive {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .responsive {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .responsive {
    width: 100%;
  }
}

/* @media screen and (max-width: 1000px) {
  #def_navbar {
    display: none;
  }

  .navbar {
    margin: 10px 10px 0;
  }

  #responsive_nav {
    overflow: hidden;
    background: #505050;
    height: 0;
    list-style-type: none;
    padding-left: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }

  #responsive_nav.open {
    height: auto;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }

  #responsive_nav li {
    float: none;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }

  #responsive_nav li:hover {
    background-color: #272a2c;
  }

  #responsive_nav li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    display: block;
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }

  #contain {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 0;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.2s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .hover .bar1 {
    background-color: red;
  }

  .hover .bar2 {
    background-color: red;
  }

  .hover .bar3 {
    background-color: red;
  }
} */